---
import Container from "../components/Container.astro"
import Layout from '../layouts/Layout.astro';
---

<Layout title="Balance mensual - Sancor Team Eve garay">
	<main class="space-y-20 mt-32">
		<Container>
            <iframe class='h-screen w-screen lg:-ml-44' src="https://docs.google.com/spreadsheets/d/19CBahalKBOGUsce8X2s6SHReSNqAQQyjn5T7YvYOAKg/edit?gid=232434166#gid=232434166rm=minimal"></iframe>
        </Container>
        
	</main>
</Layout>