---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Casos from "../components/casos.astro"
import Team from '../components/Team.astro';
---

<Layout title="Positivus">
	<main class="space-y-20">
		<Hero/>
		<Casos />
		<Team/>
	</main>
</Layout>