---
import Layout from '../layouts/Layout.astro';
import NewsManager from '../components/NewsManager';
---

<Layout title="Gestor de Noticias">
  <main>
    <NewsManager client:load />
  </main>
</Layout>