---
import Container from "./Container.astro";
---

<Container>
  <main>
    <h1 id="casos" class="">CASOS A CERRAR / DERIVAR</h1>
    <p class="space-y-20">Recordar avisar asi se si hay uno nuevo en la lista</p>
  <iframe
    class="w-screen h-screen space-y-20"
    src="https://docs.google.com/spreadsheets/d/19CBahalKBOGUsce8X2s6SHReSNqAQQyjn5T7YvYOAKg/edit?gid=1710036068#gid=1710036068"
  ></iframe>
</main>
</Container>
